extends layout

block content

  h1 #{title}

  div(style='margin-left:20px;margin-top:20px')

    h4 Products
    if brand_products.length
      dl
        each product in brand_products
          dt
            a(href=product.url) #{product.name}
          dd #{product.description}
    else
      p This brand has no products.

  hr
  p
    a(href=brand.id+'/update') Update brand
  p
    a(href=brand.id+'/delete') Delete brand
